
.profile-section {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 2fr;
    gap: 2rem;
    align-items: start;
    padding: 1.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.profile-image {
    width: 200px;
    height: 200px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #333;
    border-radius: 50%;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.details-info{
    font-size: 0.8rem;
    line-height: 1.25 !important;   /* Forces tighter line spacing */
    display: block;                /* Ensures it behaves like a paragraph block */
    margin: 0.5 !important;          /* Removes default spacing */
    padding: 0.5 !important;
}

@media (max-width: 768px) {
    .profile-section {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .content-container {
        align-items: center;
    }

    .profile-details {
        text-align: left;
    }
}