<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2250%22 fill=%22%23f5a623%22></rect><path d=%22M21.70 21.56L31.39 21.56L49.98 67.97L68.57 21.56L78.30 21.56L78.30 78.44L70.80 78.44L70.80 56.29L71.50 32.38L52.83 78.44L47.09 78.44L28.46 32.50L29.20 56.29L29.20 78.44L21.70 78.44L21.70 21.56Z%22 fill=%22%23fff%22></path></svg>" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67033544-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
      {% include header.html %}
      </header>
      <section>
      {{ content }}
      </section>
      <footer>
        <hr/>
        <p class="credit">Website theme adapted from <a href="https://github.com/orderedlist/minimal">orderedlist</a>.</p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>
